<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IADPUTSService" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IServiceLayer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://stc-connect.cloudapp.net/WCFService/ADPUTSService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IADPUTSService"
                contract="ADPUTSserviceReference.IADPUTSService" name="BasicHttpBinding_IADPUTSService" />
            <endpoint address="http://13.82.52.255/WCFService/ServiceLayer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLayer"
                contract="ServiceLayerReference.IServiceLayer" name="BasicHttpBinding_IServiceLayer" />
        </client>
    </system.serviceModel>
</configuration>