<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceLayer" />
                <binding name="BasicHttpBinding_ITFMIntegrationService" />
                <binding name="BasicHttpBinding_ISmartTowerIntegrationService" />
                <binding name="BasicHttpBinding_ICrsipServices" />
                <binding name="BasicHttpBinding_IADPUTSService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8082/SmartTowerIntegrationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmartTowerIntegrationService"
                contract="SmartTowerServiceReference.ISmartTowerIntegrationService"
                name="BasicHttpBinding_ISmartTowerIntegrationService" />
            <endpoint address="http://stc-connect.cloudapp.net:8013/WCFService/CrsipServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICrsipServices"
                contract="CrispService.ICrsipServices" name="BasicHttpBinding_ICrsipServices" />
            <endpoint address="http://stc-connect.cloudapp.net/WCFService/ADPUTSService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IADPUTSService"
                contract="ADPUTSserviceReference.IADPUTSService" name="BasicHttpBinding_IADPUTSService" />
            <endpoint address="http://stc-01.cloudapp.net/WCFService/TFMIntegrationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITFMIntegrationService"
                contract="TFMServiceReference.ITFMIntegrationService" name="BasicHttpBinding_ITFMIntegrationService" />
            <endpoint address="http://stc-01.cloudapp.net/WCFService/ServiceLayer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLayer"
                contract="ServiceLayerReference.IServiceLayer" name="BasicHttpBinding_IServiceLayer" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vlc.DotNet.Core.Interops" publicKeyToken="84529da31f4eb963" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>