<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <!--<add name="WpfTestSTCEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=WpfTestSTC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CDSEntities" connectionString="metadata=res://*/STC-CDSModel.csdl|res://*/STC-CDSModel.ssdl|res://*/STC-CDSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stc-connect.cloudapp.net;initial catalog=ADP-CDS;persist security info=True;user id=softec;password=P@ssw0rd32;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CDSAssetsEntities" connectionString="metadata=res://*/CDSAssetModel.csdl|res://*/CDSAssetModel.ssdl|res://*/CDSAssetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stc-connect.cloudapp.net;initial catalog=ADP-CDS;persist security info=True;user id=softec;password=P@ssw0rd32;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="STCOperationalDataContext" connectionString="metadata=res://*/STC-OperationalModel.csdl|res://*/STC-OperationalModel.ssdl|res://*/STC-OperationalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mohsen-pc\sql2014;initial catalog=ADP-Operational;persist security info=True;user id=sa;password=ahlawy;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CDSAssetsDataContext" connectionString="metadata=res://*/CDSAssetModel.csdl|res://*/CDSAssetModel.ssdl|res://*/CDSAssetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mohsen-pc\sql2014;initial catalog=ADP-CDS;persist security info=True;user id=sa;password=ahlawy;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="Entities" connectionString="metadata=res://*/STC-CDS.csdl|res://*/STC-CDS.ssdl|res://*/STC-CDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stc-connect.cloudapp.net;initial catalog=Microsoft.JPS.CDS.ADP;persist security info=True;user id=sa;password=P@ssw0rd32;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="OracleDataContext"
      connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.130.98.23)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=devtest)));User Id=trper;Password=pertr;Min Pool Size=10;Max Pool Size=300;Connection Lifetime=120;Connection Timeout=5;Incr Pool Size=5;Decr Pool Size=10;"/>-->
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
    <add name="STCOperationalDataContext" connectionString="metadata=res://*/STC-OperationalModel.csdl|res://*/STC-OperationalModel.ssdl|res://*/STC-OperationalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AGHQSRV379;initial catalog=ADP-Operational2;persist security info=True;user id=sa;password=P@ssword1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CDSAssetsDataContext" connectionString="metadata=res://*/CDSAssetModel.csdl|res://*/CDSAssetModel.ssdl|res://*/CDSAssetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stc-connect.cloudapp.net;initial catalog=ADP-CDS;persist security info=True;user id=sa;password=P@ssw0rd32;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/STC-CDS.csdl|res://*/STC-CDS.ssdl|res://*/STC-CDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=STC-01.cloudapp.net;initial catalog=Microsoft.JPS.CDS.ADP;persist security info=True;user id=sa;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TFMEntities" connectionString="metadata=res://*/TFM.csdl|res://*/TFM.ssdl|res://*/TFM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tfm-saaed-lsn;initial catalog=IPatrol-FMS;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TIMSOracleEntities" connectionString="metadata=res://*/TIMSOracleModel.csdl|res://*/TIMSOracleModel.ssdl|res://*/TIMSOracleModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=TimsOracle;PASSWORD=pertr;PERSIST SECURITY INFO=True;USER ID=TRPER&quot;" providerName="System.Data.EntityClient" />
    <add name="ElrocEntities" connectionString="metadata=res://*/EkinModel.csdl|res://*/EkinModel.ssdl|res://*/EkinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adp-data-lsn;initial catalog=Elroc;persist security info=True;user id=NewUser;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.130.98.23)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=devtest))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>