<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceLayer" />
                <binding name="BasicHttpBinding_ITFMIntegrationService" />
                <binding name="BasicHttpBinding_IGisService" />
                <binding name="BasicHttpBinding_IViolationsLayer" />
                <binding name="BasicHttpBinding_IAccidentsLayer" />
                <binding name="BasicHttpBinding_ISmartOfficerLayer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://stc-connect.cloudapp.net/WCFService/GisService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGisService"
                contract="GISReference.IGisService" name="BasicHttpBinding_IGisService" />
            <endpoint address="http://stc-connect.cloudapp.net/WCFService/ViolationsLayer.svc/violationsoap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IViolationsLayer"
                contract="ViolationServiceReference.IViolationsLayer" name="BasicHttpBinding_IViolationsLayer" />
            <endpoint address="http://stc-connect.cloudapp.net/WCFService/AccidentsLayer.svc/accidentsoap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccidentsLayer"
                contract="AccidentsServiceReference.IAccidentsLayer" name="BasicHttpBinding_IAccidentsLayer" />
            <endpoint address="http://stc-connect.cloudapp.net/WCFService/SmartOfficerLayer.svc/smartofficersoap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISmartOfficerLayer"
                contract="SmartOfficerServiceReference.ISmartOfficerLayer"
                name="BasicHttpBinding_ISmartOfficerLayer" />
            <endpoint address="http://aghqsrv453/WCFServices/TFMIntegrationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITFMIntegrationService"
                contract="TFMServiceReference.ITFMIntegrationService" name="BasicHttpBinding_ITFMIntegrationService" />
            <endpoint address="http://stc-01.cloudapp.net/WCFService/ServiceLayer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLayer"
                contract="ServiceLayerReference.IServiceLayer" name="BasicHttpBinding_IServiceLayer" />
        </client>
    </system.serviceModel>
</configuration>