<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="STC.Projects.WCF.ServiceLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>

    <add name="STCOperationalDataContext" connectionString="metadata=res://*/STC-OperationalModel.csdl|res://*/STC-OperationalModel.ssdl|res://*/STC-OperationalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AGHQSRV379;initial catalog=ADP-Operational2;persist security info=True;user id=sa;password=P@ssword1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CDSAssetsDataContext" connectionString="metadata=res://*/CDSAssetModel.csdl|res://*/CDSAssetModel.ssdl|res://*/CDSAssetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AGHQSRV379;initial catalog=Microsoft.JPS.CDS.ADP;persist security info=True;user id=sa;password=P@ssword1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/STC-CDS.csdl|res://*/STC-CDS.ssdl|res://*/STC-CDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AGHQSRV379;initial catalog=Microsoft.JPS.CDS.ADP;persist security info=True;user id=sa;password=P@ssword1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SmartTowerEntities" connectionString="metadata=res://*/Entities.SmartTowerModel.csdl|res://*/Entities.SmartTowerModel.ssdl|res://*/Entities.SmartTowerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AGHQSRV379;initial catalog=AD-SmartTowers;persist security info=True;user id=sa;password=P@ssword1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TFMEntities" connectionString="metadata=res://*/TFM.csdl|res://*/TFM.ssdl|res://*/TFM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tfm-saaed-lsn;initial catalog=IPatrol-FMS;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ElrocEntities" connectionString="metadata=res://*/EkinModel.csdl|res://*/EkinModel.ssdl|res://*/EkinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=adp-data-lsn;initial catalog=Elroc;persist security info=True;user id=NewUser;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="STCOperationalDataContext2" connectionString="data source=AGHQSRV379;initial catalog=ADP-Operational2;persist security info=True;user id=sa;password=P@ssword1"></add>
    <!--<add name="Entities" connectionString="metadata=res://*/STC-CDS.csdl|res://*/STC-CDS.ssdl|res://*/STC-CDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stc-01.cloudapp.net;initial catalog=Microsoft.JPS.CDS.ADP;persist security info=True;user id=sa;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="STCOperationalDataContext" connectionString="metadata=res://*/STC-OperationalModel.csdl|res://*/STC-OperationalModel.ssdl|res://*/STC-OperationalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stc-01.cloudapp.net;initial catalog=ADP-Operational2;persist security info=True;user id=sa;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CDSAssetsDataContext" connectionString="metadata=res://*/CDSAssetModel.csdl|res://*/CDSAssetModel.ssdl|res://*/CDSAssetModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stc-01.cloudapp.net;initial catalog=Microsoft.JPS.CDS.ADP;persist security info=True;user id=sa;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SmartTowerEntities" connectionString="metadata=res://*/Entities.SmartTowerModel.csdl|res://*/Entities.SmartTowerModel.ssdl|res://*/Entities.SmartTowerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=stc-01.cloudapp.net;initial catalog=AD-SmartTowers;persist security info=True;user id=sa;password=P@ssw0rd1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TFMEntities" connectionString="metadata=res://*/TFM.csdl|res://*/TFM.ssdl|res://*/TFM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=65.182.107.115;initial catalog=IPatrol-FMS;user id=sa;password=SoftecAdmin32;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="RadiusForNearByAssetsKM" value="3" />
    <add key="MessageQueuePath" value="aghqsrv453\private$\StreamInsightViolation"/>
    <add key="AnalysisViolationConnectionString" value="Data Source=AGHQSTCAS-LSN; Catalog=ViolationCubeLatest;"/>
    <add key="AnalysisTruckViolationConnectionString" value="Data Source=AGHQSTCAS-LSN; Catalog=TruckViolationCube;"/>
    <add key="AnalysisIncidentConnectionString" value="Data Source=AGHQSTCAS-LSN; Catalog=CallOfServiceFinalCube;"/>
    <add key="AnalysisDangerousViolationConnectionString" value="Data Source=AGHQSTCAS-LSN; Catalog=DangerousViolationCube;"/>
    <add key="OldNotificationInHours" value="24" />
    <add key="TFMImagesPath" value="http://10.130.129.237/Files"/>
    <add key="CrispLog" value="true" />
    <add key="MaxAllowedTimeMins" value="15" />
    <add key="MontCarloM" value="1000" />
    <add key="MontCarloL" value="1000" />
    <add key="IsCrispBMax" value="true" />
    <add key="IsNewDynamicRules" value="true" />
    <add key="UTSUserId" value="1"/>
    <add key="UTSUsername" value="SAAD001"/>
    <add key="UTSPassword" value="sP3G@D$77"/>
    <add key="UTSSystemCode" value="0"/>
    <add key="LogDefaultPath" value=""/>
    <add key="TFMTaskMediaPath" value="D:\TFM-Webservice\Files\RecordsUploads\"/>
    <add key="Environment" value="Production"/>
    <add key="Mode" value="Debug"/>
    <add key="TemplatesPath" value="C:\STC\Websites\Server\WCF\Templates"/>
    <add key="VitronicPath" value="\\10.1.80.168\xml"/>
    <add key="SMSOracleConnection" value="DATA SOURCE=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 10.130.102.92)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = adp2.ae)));PERSIST SECURITY INFO=True;USER ID=rmssms;Password=sms2015;" />
    
    
    
    
    
    <!--<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="RadiusForNearByAssetsKM" value="3" />
    <add key="MessageQueuePath" value=".\\private$\\StreamInsightViolation" />
    <add key="AnalysisViolationConnectionString" value="Data Source=http://stc-connect.cloudapp.net:8085/OLAP/msmdpump.dll; Catalog=ViolationCubeLatest;" />
    <add key="AnalysisTruckViolationConnectionString" value="Data Source=http://stc-connect.cloudapp.net:8085/OLAP/msmdpump.dll; Catalog=TruckViolationCube;" />
    <add key="AnalysisIncidentConnectionString" value="Data Source=http://stc-connect.cloudapp.net:8085/OLAP/msmdpump.dll; Catalog=CallOfServiceFinalCube;" />
    <add key="AnalysisDangerousViolationConnectionString" value="Data Source=http://stc-connect.cloudapp.net:8085/OLAP/msmdpump.dll; Catalog=DngerousViolationCube;" />
    <add key="OldNotificationInHours" value="24" />
    <add key="TFMImagesPath" value="http://10.130.129.237/Files"/>
    <add key="CrispLog" value="true" />
    <add key="MaxAllowedTimeMins" value="15" />
    <add key="MontCarloM" value="1000" />
    <add key="MontCarloL" value="1000" />
    <add key="IsCrispBMax" value="true" />
    <add key="IsNewDynamicRules" value="true" />
    <add key="UTSUserId" value="nn" />
    <add key="UTSUsername" value="nn" />
    <add key="UTSPassword" value="" />
    <add key="UTSSystemCode" value="0" />
    <add key="LogDefaultPath" value="D:\" />
    <add key="TFMTaskMediaPath" value="D:\TFM-Webservice\Files\RecordsUploads\" />
    <add key="Environment" value="Cloud" />
    <add key="Mode" value="Debug"/>
    <add key="TemplatesPath" value="C:\STC\Websites\Development\WCF\Templates"/>
    <add key="VitronicPath" value="\\10.1.80.168\xml"/>
    <add key="SMSOracleConnection" value="DATA SOURCE=adsungtw-scan:1521/ipay.ae;PERSIST SECURITY INFO=True;USER ID=STCSMS;Password=stc2016sms;" />-->

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151"
     useFullyQualifiedRedirectUrl="true"
     executionTimeout="14400" />
    <caching>
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="ADP-Operational2" connectionStringName="STCOperationalDataContext" />
        </databases>
      </sqlCacheDependency>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheForAssets" duration="600000" varyByParam="none" sqlDependency="ADP-Operational2:Asset" />
          <add name="CacheForTargets" duration="600000" varyByParam="none" sqlDependency="ADP-Operational2:KPITargets" />
          <add name="CacheForSessions" duration="600000" varyByParam="none" sqlDependency="ADP-Operational2:CrispSession" />
          <add name="CacheForReports" duration="600000" varyByParam="none" sqlDependency="ADP-Operational2:AutomaticReports" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.serviceModel>
    <!--<client>
      <endpoint address="http://tfm.altaircloud.com:8087/webservices/srvc_TFMIntegration.asmx" binding="basicHttpBinding" bindingConfiguration="srvc_TFMIntegrationSoap" contract="TFMService.srvc_TFMIntegrationSoap" name="srvc_TFMIntegrationSoap" />
      <endpoint address="http://tfmgps.altaircloud.com/webservice/srvc_Utitlity.asmx" binding="basicHttpBinding" bindingConfiguration="srvc_UtitlitySoap" contract="ServiceReference1.srvc_UtitlitySoap" name="srvc_UtitlitySoap" />
      <endpoint address="http://localhost:24172/SocialMediaServiceOffline.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISocialMediaServiceOffline" contract="SocialMediaServiceOfflineReference.ISocialMediaServiceOffline" name="BasicHttpBinding_ISocialMediaServiceOffline" />
      <endpoint address="http://194.170.200.102/trafficwebservices/licenseservices.asmx" binding="basicHttpBinding" bindingConfiguration="LicenseServicesSoap" contract="ADPLicenseServiceReference.LicenseServicesSoap" name="LicenseServicesSoap" />
      <endpoint address="http://194.170.200.102/trafficwebservices/ticketsServices.asmx" binding="basicHttpBinding" bindingConfiguration="TicketsServicesSoap" contract="ADPTicketsServiceReference.TicketsServicesSoap" name="TicketsServicesSoap" />
      <endpoint address="http://194.170.200.102/trafficwebservices/TrafficProfileServices.asmx" binding="basicHttpBinding" bindingConfiguration="TrafficProfileServicesSoap" contract="ADPTrafficProfileReference.TrafficProfileServicesSoap" name="TrafficProfileServicesSoap" />
      <endpoint address="http://194.170.200.102/trafficwebservices/utilities.asmx" binding="basicHttpBinding" bindingConfiguration="UtilitiesSoap" contract="ADPUtilitiesReference.UtilitiesSoap" name="UtilitiesSoap" />
      <endpoint address="http://194.170.200.102/trafficwebservices/VehiclesServices.asmx" binding="basicHttpBinding" bindingConfiguration="VehiclesServicesSoap" contract="ADPVehiclesReference.VehiclesServicesSoap" name="VehiclesServicesSoap" />
      <endpoint address="http://localhost:6142/PCAService/PCAService" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPCAService" contract="PCAServices.IPCAService" name="WSHttpBinding_IPCAService">
        <identity>
          <servicePrincipalName value="host/Sawy-pc" />
        </identity>
      </endpoint>
      <endpoint address="http://tfm.altaircloud.com:8088/TFMService.svc/TFMSoap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITFMService" contract="STCTFMService.ITFMService" name="BasicHttpBinding_ITFMService" />
    </client>-->
    
    <!--***************************************************************************************************************-->
    
    <client>
      <endpoint address="http://10.130.129.237:8080/Webservices/ipatrol/srvc_TFMIntegration.asmx"
      binding="basicHttpBinding" bindingConfiguration="srvc_TFMIntegrationSoap"
      contract="TFMService.srvc_TFMIntegrationSoap" name="srvc_TFMIntegrationSoap" />
      <endpoint address="http://10.130.129.237:8090/webservice/srvc_Utitlity.asmx"
            binding="basicHttpBinding" bindingConfiguration="srvc_UtitlitySoap"
            contract="ServiceReference1.srvc_UtitlitySoap" name="srvc_UtitlitySoap" />
      <endpoint address="http://localhost:24172/SocialMediaServiceOffline.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISocialMediaServiceOffline"
                contract="SocialMediaServiceOfflineReference.ISocialMediaServiceOffline"
                name="BasicHttpBinding_ISocialMediaServiceOffline" />
      <endpoint address="http://192.168.195.98/utswebservicestest/licenseservices.asmx"
          binding="basicHttpBinding" bindingConfiguration="LicenseServicesSoap"
          contract="ADPLicenseServiceReference.LicenseServicesSoap"
          name="LicenseServicesSoap" />
      <endpoint address="http://192.168.195.98/utswebservicestest/ticketsServices.asmx"
          binding="basicHttpBinding" bindingConfiguration="TicketsServicesSoap"
          contract="ADPTicketsServiceReference.TicketsServicesSoap"
          name="TicketsServicesSoap" />
      <endpoint address="http://192.168.195.98/utswebservicestest/TrafficProfileServices.asmx"
          binding="basicHttpBinding" bindingConfiguration="TrafficProfileServicesSoap"
          contract="ADPTrafficProfileReference.TrafficProfileServicesSoap"
          name="TrafficProfileServicesSoap" />
      <endpoint address="http://192.168.195.98/utswebservicestest/utilities.asmx"
          binding="basicHttpBinding" bindingConfiguration="UtilitiesSoap"
          contract="ADPUtilitiesReference.UtilitiesSoap" name="UtilitiesSoap" />
      <endpoint address="http://192.168.195.98/utswebservicestest/VehiclesServices.asmx"
          binding="basicHttpBinding" bindingConfiguration="VehiclesServicesSoap"
          contract="ADPVehiclesReference.VehiclesServicesSoap" name="VehiclesServicesSoap" />
      <endpoint address="http://localhost:6142/PCAService/PCAService"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPCAService"
          contract="PCAServices.IPCAService" name="WSHttpBinding_IPCAService">
        <identity>
          <servicePrincipalName value="host/STC-Connect" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" allowCookies="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" bypassProxyOnLocal="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>

        </binding>

        <binding name="NewBinding0" allowCookies="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"  maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>

        <!--<binding name="NewBinding0" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />-->
        <binding name="srvc_TFMIntegrationSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="srvc_UtitlitySoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISocialMediaServiceOffline" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="LicenseServicesSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="TicketsServicesSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="TrafficProfileServicesSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="UtilitiesSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="VehiclesServicesSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ITFMService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IPCAService" receiveTimeout="00:59:00" sendTimeout="00:59:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647"/>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="jsonBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="STC.Projects.WCF.ServiceLayer.SmartOfficerLayer">
        <endpoint address="smartofficersoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.ISmartOfficerLayer" />
        <endpoint address="smartofficerxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.ISmartOfficerLayer" />
      </service>
      <!--<service name="STC.Projects.WCF.ServiceLayer.ViolationsLayer">
        <endpoint address="violationsoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.IViolationsLayer" />
        <endpoint address="violationxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.IViolationsLayer" />
      </service>-->
      <!--<service name="STC.Projects.WCF.ServiceLayer.TFMIntegrationService">
        <endpoint address="tfmsoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.ISmartTowerIntegrationService" />
        <endpoint address="tfmxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.ISmartTowerIntegrationService" />
      </service>-->
      <service name="STC.Projects.WCF.ServiceLayer.SmartTowerIntegrationService">
        <endpoint address="smarttowersoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.ISmartTowerIntegrationService" />
        <endpoint address="smarttowerxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.ISmartTowerIntegrationService" />
      </service>
      <!--<service name="STC.Projects.WCF.ServiceLayer.ServiceLayer">
        <endpoint address="mainsoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.IServiceLayer" />
        <endpoint address="mainxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.IServiceLayer" />
      </service>-->
      <service name="STC.Projects.WCF.ServiceLayer.KPILayer">
        <endpoint address="kpisoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.IKPILayer" />
        <endpoint address="kpixml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.IKPILayer" />
      </service>
      <service name="STC.Projects.WCF.ServiceLayer.DynamicRolesService">
        <endpoint address="dynamicrolessoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.IDynamicRolesService" />
        <endpoint address="dynamicrolesxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.IDynamicRolesService" />
      </service>
      <service name="STC.Projects.WCF.ServiceLayer.CrsipServices">
        <endpoint address="crispsoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.ICrsipServices" />
        <endpoint address="crispxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.ICrsipServices" />
      </service>
      <service name="STC.Projects.WCF.ServiceLayer.ConfigurationLayer">
        <endpoint address="confsoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.IConfigurationLayer" />
        <endpoint address="confxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.IConfigurationLayer" />
      </service>
      <service name="STC.Projects.WCF.ServiceLayer.ADPUTSService">
        <endpoint address="utssoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.IADPUTSService" />
        <endpoint address="utsxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.IADPUTSService" />
      </service>
      <service name="STC.Projects.WCF.ServiceLayer.GisService">
        <endpoint address="gissoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.IGisService" />
        <endpoint address="gisxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.IGisService" />
      </service>
      <service name="STC.Projects.WCF.ServiceLayer.TruckPermissionLayer">
        <endpoint address="trucksoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.ITruckPermissionLayer" />
        <endpoint address="truckxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.ITruckPermissionLayer" />
      </service>
      <service name="STC.Projects.WCF.ServiceLayer.ConstructionPermitLayer">
        <endpoint address="constructionsoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.IConstructionPermitLayer" />
        <endpoint address="constructionxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.IConstructionPermitLayer" />
      </service>
      <!--<service name="STC.Projects.WCF.ServiceLayer.AccidentsLayer">
        <endpoint address="accidentsoap" binding="basicHttpBinding" contract="STC.Projects.WCF.ServiceLayer.IAccidentsLayer" />
        <endpoint address="accidentxml" binding="webHttpBinding" behaviorConfiguration="jsonBehavior" contract="STC.Projects.WCF.ServiceLayer.IAccidentsLayer" />
      </service>-->
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" bindingConfiguration="basicHttp" />
      <add binding="basicHttpBinding" scheme="http" bindingConfiguration="basicHttp" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <STC.Projects.WCF.ServiceLayer.Properties.Settings>
      <setting name="WantedCarRadius" serializeAs="String">
        <value>0.09</value>
      </setting>
      <setting name="STC_Projects_WCF_ServiceLayer_BarcoWebReference_PerspectiveMgtAPI" serializeAs="String">
        <value>http://192.168.1.2:8080/cms/PerspectiveMgtAPIImpl</value>
      </setting>
      <setting name="STC_Projects_WCF_ServiceLayer_HeavyLoadRef_HeavyLoadPermits" serializeAs="String">
        <value>http://fugrows.manufaktura.rs:82/permission/HeavyLoadPermits.asmx</value>
      </setting>
      <setting name="STC_Projects_WCF_ServiceLayer_ConstructionPermit_ConstructionPermits" serializeAs="String">
        <value>http://fugrows.manufaktura.rs:82/permission/ConstructionPermits.asmx</value>
      </setting>
    </STC.Projects.WCF.ServiceLayer.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>