<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceLayer" />
                <binding name="BasicHttpBinding_IKPILayer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://stc-connect.cloudapp.net:8013/WCFService/ServiceLayer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLayer"
                contract="ServiceLayerReference.IServiceLayer" name="BasicHttpBinding_IServiceLayer" />
            <endpoint address="http://stc-01.cloudapp.net/WCFService/KPILayer.svc/kpisoap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKPILayer"
                contract="KPILayerServiceReference.IKPILayer" name="BasicHttpBinding_IKPILayer" />
        </client>
    </system.serviceModel>
</configuration>
